<div class="container my-3">
  <div class="row align-items-center my-3">
    <span class="text-center fs-6 col-2">* 必填欄位</span>
    <div class="col-10 text-center">
      <span class="text-center fs-5 ">{{#if expense}}請修改你的支出{{else}}請輸入你的支出{{/if}}</span>
    </div>
  </div>

  {{#if expense}}
  <form method="POST" action="/expenses/{{expense._id}}?_method=PUT">
    {{else}}
    <form method="POST" action="/">
      {{/if}}
      <div class="row align-items-center my-3">
        <label for="name" class="text-center fs-4 col-2 col-form-label">名稱*：</label>
        <div class="col-10">
          <input type="text" name="name" class="form-control" id="name" placeholder="消費支出名稱" required autofocus
            value="{{expense.name}}">
        </div>
      </div>

      <div class="row align-items-center my-3">
        <label for="date" class="text-center fs-4 col-2 col-form-label">日期*：</label>
        <div class="col-10">
          <input type="date" name="date" class="form-control" id="date" required value="{{expense.date}}">
        </div>
      </div>


      <div class="row align-items-center my-3">
        <label for="category" class="text-center fs-4 col-2 col-form-label">類別*：</label>
        <div class="col-10">
          <select class="form-select form-select" id="category" name="category" required>
            <option {{#if expense}} {{else}}selected{{/if}} disabled value="">Select</option>
            <option {{ifEqual expense.category "家居物業" "selected" "" }} value="家居物業">家居物業</option>
            <option {{ifEqual expense.category "交通出行" "selected" "" }} value="交通出行">交通出行</option>
            <option {{ifEqual expense.category "休閒娛樂" "selected" "" }} value="休閒娛樂">休閒娛樂</option>
            <option {{ifEqual expense.category "餐飲食品" "selected" "" }} value="餐飲食品">餐飲食品</option>
            <option {{ifEqual expense.category "其他" "selected" "" }} value="其他">其他</option>
          </select>
        </div>
      </div>

      <div class="row align-items-center my-3">
        <label for="cost" class="text-center fs-4 col-2 col-form-label">金額*：</label>
        <div class="col-10">
          <input type="number" name="cost" class="form-control" id="cost" required value="{{expense.cost}}">
        </div>
      </div>
      <div class="row">
        <div class="text-center col-2">
          <a href="/">
            <button class="btn btn-secondary btn-lg" type="button">取消</button>
          </a>
        </div>
        <div class="text-center col-10">
          {{#if expense}}
          <button class="d-inline btn btn-warning text-light btn-lg ms-3" type="submit">送出</button>
          {{else}}
          <button class="d-inline btn btn-warning text-light btn-lg ms-3" type="submit">新增支出</button>
          {{/if}}
        </div>
      </div>
    </form>
</div>